<div class="container">
    <div class="search">
        <input type="text" class="searchfield" placeholder="Search" [(ngModel)]="searchText">
        <button type="button" class="button"><span class="fa fa-search"></span></button>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Device</th>
            <th>Lowest</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let gameObject of gameObjects | filter:searchText">
            <td>
                <img  *ngIf="gameObject.objectType == 1" src="../../assets/images/game.png" width="20">
                <img  *ngIf="gameObject.objectType == 2" src="../../assets/images/accessory.png" width="20">
            </td>
            <td>{{gameObject.name}}</td>
            <td>{{gameObject.device.name}}</td>
            <td>&euro;{{gameObject.price}}</td>
            <td [routerLink]="['/detailed/', gameObject.lowestObjectId]">More Info</td>
        </tr>
        </tbody>
    </table>
</div>
